<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tech Exam</title>
</head>
<style>
    /*.input {*/
    /*     display: inline-block; width: 70px;*/
    /* }*/
</style>
<body>
<h1>Welcome</h1>

<h3>Create new person</h3>
<form action="/createPerson" method="post">
    <input type="text" name="name" placeholder="Name" required> <br>
    <input type="number" name="age" placeholder="Age" required><br>
    <input type="text" name="gender" placeholder="Gender" required><br>
    <input type="submit" value="Save">
</form>

<h4>Current persons in the database</h4>
<table class="tab">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person: ${persons}">
        <td th:text="${person.name}"></td>
        <td th:text="${person.age}"></td>
        <td th:text="${person.gender}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>